version: '3.8'

# access local hanachan app on http://localhost:8888

services:
  frontend-next:
    build:
      context: ./frontend-next
    image: coil/hanachan.org:frontend-next
    ports:
      - '127.0.0.1:3000:3000'
    environment:
      REACT_APP_HOST_IP: 'express-db'
      EXPRESS_API_URL: 'http://express-db:8000'
      FLASK_API_URL: 'http://flask-dynamic-db:5100'
      DICTIONARY_API_URL: 'http://dictionary-db:5200'
      HANACHAN_API_URL: 'http://hanachan:5400'
      MYSQL_HOST: 'mysql-db'
      MYSQL_PORT: '3306'
      GA_MEASUREMENT_ID: '' # Google Analytics measurement ID 
    restart: unless-stopped
    networks:
      - hanachan-network

  # hanachan-service:
  #   build:
  #     context: ./backend/hanachan
  #   image: coil/hanachan.org:hanachan-service
  #   ports:
  #     - '127.0.0.1:5300:5300'
  #   restart: unless-stopped
  #   networks:
  #     - hanachan-network


  express-db:
    build:
      context: ./backend/express
    image: coil/hanachan.org:express-db
    ports:
      - '127.0.0.1:8000:8000'
    environment:
      REACT_APP_HOST_IP: 'express-db'
    restart: unless-stopped
    networks:
      - hanachan-network

  flask-dynamic-db:
    build:
      context: ./backend/flask
    image: coil/hanachan.org:flask-dynamic-db
    ports:
      - '127.0.0.1:5100:5100'
    volumes:
      - ./user_db:/data/db
    restart: unless-stopped
    networks:
      - hanachan-network

  dictionary-db:
    build:
      context: ./backend/dictionary
    image: coil/hanachan.org:dictionary-db
    ports:
      - '127.0.0.1:5200:5200'
    volumes:
      - './config_dummy.json:/app/config.json'
    restart: unless-stopped
    networks:
      - hanachan-network

  nginx:
    image: nginx:latest
    ports:
      - '127.0.0.1:8888:80'
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    restart: unless-stopped
    networks:
      - hanachan-network

volumes:
  user_db:
  mysql_data:


networks:
  hanachan-network:
