Flask==3.0.3
Flask-Cors==4.0.1
requests==2.32.3
langchain
langchain-community
langchain-core
langchain-ollama
fastapi
uvicorn[standard]
pydantic
python-dotenv
dataclasses-json
langgraph
qdrant-client
openai
langchain_mcp_adapters
pymongo
